## Importando bibliotecas

In [163]:
import os
import sys

import warnings                                  # `do not disturb` mode
warnings.filterwarnings('ignore')

import numpy as np                               # vectors and matrices
import pandas as pd                              # tables and data manipulations
import matplotlib.pyplot as plt
import seaborn as sns                            # more plots
sns.set_style("darkgrid")

from dateutil.relativedelta import relativedelta # working with dates with style
from scipy.optimize import minimize              # for function minimization

import statsmodels.formula.api as smf            # statistics and econometrics
import statsmodels.tsa.api as smt
import statsmodels.api as sm
import scipy as sp
import scipy.fftpack

from datetime import datetime, timedelta
import holidays
import calendar

#from itertools import product                   
#from tqdm import tqdm_notebook

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

## Funções e Configurações

In [164]:
def extract_date(df, column):
    # Input: df receives dataframe and column receives string
    # Extrai alguns dados relativos a datas
        
    #Extrai data da medição
    df['data_med'] = df[column].dt.date
    
    #Extrai ano da medição
    df['year'] = df[column].dt.year
    
    # Extrai mes da medição
    df['month'] = df[column].dt.month
    
    # Extrai dia da medição
    df['day'] = df[column].dt.day

    # Extrai dia da semana da medição
    df['week_day'] = df[column].apply(lambda x: calendar.day_name[x.weekday()].upper())

In [165]:
def get_holidays(df, column):
    
    # Input: df receives dataframe and column receives string
    # Pega dados de feriados
    feriados = []
    
    #Seta os anos 2018 e 2019 para pegar a lista de feriados
    yearss = [2018, 2019]

    outros_2018 = ['2018-01-25', '2018-02-12', '2018-11-20', '2018-12-24']
    outros_2019 = ['2019-01-25', '2018-03-04', '2019-11-20']
    feriados = feriados + outros_2018 + outros_2019

    for date in holidays.Brazil(state = 'SP', years = yearss).items():
        feriados.append(str(date[0]))
    feriados.sort()  
    
    # 1 se for feriado 
    # 0 caso contrário
    
    df['feriado'] = [
    
    1 if str(val).split()[0] in feriados 
    else 0 for val in df[column]
    
    ]

In [166]:
def daylight_savings(df, column):
    
    ##################### Not Working ################################
    
    # Input: df receives dataframe and column receives string
    
    start = datetime(year = 2018, month=11, day = 4)
    end = datetime(year = 2019, month=2, day = 16)
    
    asd = []
    
    hor_ver = pd.date_range(start = start, end = end)
    
    for i in hor_ver:
        asd.append(i.strftime('%Y-%m-%d'))
    
    df['hora_verao'] = [
    
    1 if str(val).split()[0] in asd 
    else 0 for val in df[column]
    
    ]

In [167]:
def loadinfo(df, column1, column2):
    
    # Input: df receives dataframe and column receives string
        
    # Mean Value
    mean_val = df.groupby(df[column1])[column2].mean()
    mean_val = pd.DataFrame(mean_val)
    mean_val.columns = ['valor_kwh_medio']
    
    # Max Value
    max_val  = df.groupby(df[column1])[column2].max()
    max_val = pd.DataFrame(max_val)
    max_val.columns = ['valor_kwh_max']
    
    # Min Value
    min_val  = df.groupby(df[column1])[column2].min()
    min_val = pd.DataFrame(min_val)
    min_val.columns = ['valor_kwh_min']
    
    return mean_val, max_val, min_val

In [168]:
# Seta display de x linhas
pd.set_option('display.max_row', 100)
# Seta display de x colunas
pd.set_option('display.max_columns', 15)

## Importando os datasets

In [169]:
# Definindo os nomes das colunas
headers = ["nome_emp","nome_parceiro","instalacao", "classe", "serial", "codigo_ccee", "data_inicio_medicao", "data_fim_medicao"
          , "data_medicao", "valor_pulso", "valor_kwh", "identificador", "medidor"]


typing = {'instalacao': 'str'}

In [170]:
#importando o arquivo - 01/01/2018 a 01/07/2018
t01_2018 = pd.read_csv(r'C:\Users\vitmi\Desktop\TCC\Data\Telemedidos\1Semestre2018Telemedidos.csv', encoding='utf-8', 
                       sep = ';', names = headers, decimal = '.',  dtype = typing, parse_dates = ['data_medicao'])

In [171]:
t01_2018[(t01_2018['instalacao'] == '0002071821' )]

,nome_emp,nome_parceiro,instalacao,classe,serial,codigo_ccee,data_inicio_medicao,data_fim_medicao,data_medicao,valor_pulso,valor_kwh,identificador,medidor
43,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-01-09 20:50:00,0,0,0,66915545
99,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-01-11 07:30:00,0,0,0,67069209
155,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-01-13 12:50:00,0,0,0,67118685
211,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-01-02 23:00:00,0,0,0,66568726
267,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-01-06 02:55:00,0,0,0,66813840
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2472283,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-06-01 12:50:00,1,1,1,74315802
2472328,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-06-01 13:05:00,1,1,1,74315802
2472373,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-06-01 19:45:00,1,1,1,74315802
2472418,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-06-01 10:35:00,1,1,1,74315802
2472463,BANDEIRANTE BTI,VIDA EM CORES BERC E EDUC INFANTIL 0002071821,0002071821,110,13880585,NaN,2000-02-19 00:00:00.0000000,2099-02-19 00:00:00.0000000,2018-06-01 15:10:00,1,1,1,74315802

In [172]:
print(t01_2018.shape)

(7413450, 13)

In [173]:
#importando o arquivo - 01/07/2018 a 31/12/2018
t02_2018 = pd.read_csv(r'C:\Users\vitmi\Desktop\TCC\Data\Telemedidos\2Semestre2018Telemedidos.csv', sep = ';', names = headers, decimal = '.', 
                        dtype = typing, parse_dates = ['data_medicao'])

In [174]:
print(t02_2018.shape)

(10913538, 13)

In [175]:
#importando o arquivo - 01/01/2019 a 01/07/2019
t01_2019 = pd.read_csv(r'C:\Users\vitmi\Desktop\TCC\Data\Telemedidos\1Semestre2019Telemedidos.csv', sep = ';', names = headers, decimal = '.', 
                        dtype = typing, parse_dates = ['data_medicao'])

In [176]:
print(t01_2019.shape)

(2871139, 13)

In [177]:
#importando o arquivo - 01/07/2019 a 01/01/2020
t02_2019 = pd.read_csv(r'C:\Users\vitmi\Desktop\TCC\Data\Telemedidos\2Semestre2019Telemedidos.csv', sep = ';', names = headers, decimal = '.',
                        dtype = typing, parse_dates = ['data_medicao'])

In [178]:
print(t02_2019.shape)

(7305341, 13)

In [179]:
tele_2018 = t01_2018.append(t02_2018)
tele_2019 = t01_2019.append(t02_2019)

In [180]:
tele_total = tele_2018.append(tele_2019)

In [181]:
print(tele_total.shape)

(28503468, 13)

In [182]:
print (sys.getsizeof(tele_total)/1024**3)

14.5589917646721

### Pré Processamento dos dados

In [183]:
tele_total = tele_total.drop(columns = ["nome_parceiro", "data_inicio_medicao","data_fim_medicao", "codigo_ccee", "serial", "nome_emp", "identificador", "medidor"])
tele_total = tele_total.reset_index(drop = True)

In [184]:
tele_total.head()

   instalacao  classe        data_medicao  valor_pulso valor_kwh
0  0000503720     320 2018-01-06 00:00:00          220      1,76
1  0150566333     480 2018-01-13 17:45:00            7     0,294
2  0032993561     320 2018-01-11 15:50:00            0         0
3  0000149063     320 2018-01-11 19:50:00          104     2,184
4  0000108359     520 2018-01-06 04:45:00           14     0,196

In [185]:
tele_total.dtypes

instalacao              object
classe                   int64
data_medicao    datetime64[ns]
valor_pulso              int64
valor_kwh               object
dtype: object

In [186]:
#Contando quantidade de ValorKwh nulos
print("Total de valor_kwh nulos: %d" % (tele_total['valor_kwh'].isna().sum()))
print("Total de valor_pulso nulos: %d" % (tele_total['valor_pulso'].isna().sum()))

Total de valor_kwh nulos: 0
Total de valor_pulso nulos: 0

In [187]:
# Substituindo decimal
valor_kwh = tele_total[['valor_kwh']].stack().str.replace(',','.').unstack()

In [188]:
#dropa valor_kwh
tele_total = tele_total.drop(columns = ["valor_kwh"])

In [189]:
#insere novamente
tele_total.insert( 4 , 'valor_kwh', valor_kwh)
tele_total[["valor_kwh"]] = tele_total[["valor_kwh"]].astype("float")

In [190]:
tele_total.head()

   instalacao  classe        data_medicao  valor_pulso  valor_kwh
0  0000503720     320 2018-01-06 00:00:00          220      1.760
1  0150566333     480 2018-01-13 17:45:00            7      0.294
2  0032993561     320 2018-01-11 15:50:00            0      0.000
3  0000149063     320 2018-01-11 19:50:00          104      2.184
4  0000108359     520 2018-01-06 04:45:00           14      0.196

### Reorganizando os dados

In [191]:
print(tele_total.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28503468 entries, 0 to 28503467
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   instalacao    object
 1   classe        int64
 2   data_medicao  datetime64[ns]
 3   valor_pulso   int64
 4   valor_kwh     float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.1+ GB
None

***Separando as Classes***

In [192]:
tele_total['classe'].value_counts()

200    2565604
530    2333480
720    2132261
310    1993586
520    1742095
330    1681740
320    1660683
480    1654132
510    1649694
710    1628763
340    1591884
430    1588491
410    1566847
810    1491295
110    1482625
600    1171211
420     158645
830     158296
470     128051
490     124085
Name: classe, dtype: int64

In [193]:
tele_total_res =  tele_total[(tele_total['classe'] == 110)]
# 110 - 1482625 observações
tele_total_ind =  tele_total[(tele_total['classe'] == 200)]
# 200 - 2565604 observações
tele_total_com =  tele_total[(tele_total['classe'] == 310)]
# 310 - 1993586 observações
tele_total_ppm =  tele_total[(tele_total['classe'] == 530)]
# 530 - 2333480 observações
tele_total_sp =  tele_total[(tele_total['classe'] == 720)]
# 720 - 2132261 observações

***Resetando o Index e ordenando***

In [194]:
nomes = [tele_total_res, tele_total_ind, tele_total_com, tele_total_ppm, tele_total_sp]

In [195]:
%%time

for i in nomes:
    i.sort_values(by=['instalacao', 'data_medicao'])

Wall time: 2.58 s

In [196]:
tele_total_res = tele_total_res[['instalacao', 'valor_kwh', 'data_medicao']]
tele_total_ind = tele_total_ind[['instalacao', 'valor_kwh', 'data_medicao']]
tele_total_com = tele_total_com[['instalacao', 'valor_kwh', 'data_medicao']]
tele_total_ppm = tele_total_ppm[['instalacao', 'valor_kwh', 'data_medicao']]
tele_total_sp  = tele_total_sp[['instalacao', 'valor_kwh', 'data_medicao']]

In [197]:
tele_total_res

for i in nomes:
    print(i['classe'].value_counts())

110    1482625
Name: classe, dtype: int64
200    2565604
Name: classe, dtype: int64
310    1993586
Name: classe, dtype: int64
530    2333480
Name: classe, dtype: int64
720    2132261
Name: classe, dtype: int64

### Reamostrando a informação

In [198]:
tele_total_res = tele_total_res[(tele_total_res['valor_kwh'] > 0)]
tele_total_ind = tele_total_ind[(tele_total_ind['valor_kwh'] > 0)]
tele_total_com = tele_total_com[(tele_total_com['valor_kwh'] > 0)]
tele_total_ppm = tele_total_ppm[(tele_total_ppm['valor_kwh'] > 0)]
tele_total_sp  = tele_total_sp[(tele_total_sp['valor_kwh'] > 0)]

In [199]:
tele_total_res = tele_total_res.reset_index(drop = True);
tele_total_ind = tele_total_ind.reset_index(drop = True);
tele_total_com = tele_total_com.reset_index(drop = True);
tele_total_ppm = tele_total_ppm.reset_index(drop = True);
tele_total_sp = tele_total_sp.reset_index(drop = True);

In [200]:
for i in nomes:
    print(len(i))

1482625
2565604
1993586
2333480
2132261

In [201]:
data_res = tele_total_res.groupby('instalacao').resample('30min', on = 'data_medicao').mean()
data_ind = tele_total_ind.groupby('instalacao').resample('30min', on = 'data_medicao').mean()
data_com = tele_total_com.groupby('instalacao').resample('30min', on = 'data_medicao').mean()
data_ppm = tele_total_ppm.groupby('instalacao').resample('30min', on = 'data_medicao').mean()
data_sp  = tele_total_sp.groupby('instalacao').resample('30min', on = 'data_medicao').mean()

In [202]:
data_res = data_res.reset_index()
data_res = data_res[['instalacao', 'valor_kwh', 'data_medicao']]
data_res

        instalacao  valor_kwh        data_medicao
0       0000502375     0.2560 2018-01-01 00:00:00
1       0000502375     0.2240 2018-01-01 00:30:00
2       0000502375     0.2040 2018-01-01 01:00:00
3       0000502375     0.2040 2018-01-01 01:30:00
4       0000502375     0.2080 2018-01-01 02:00:00
...            ...        ...                 ...
292773  0002095612     0.2352 2019-12-17 23:30:00
292774  0002095612     0.2364 2019-12-18 00:00:00
292775  0002095612     0.2484 2019-12-18 00:30:00
292776  0002095612     0.2316 2019-12-18 01:00:00
292777  0002095612     0.2592 2019-12-18 01:30:00

[292778 rows x 3 columns]

In [203]:
data_ind = data_ind.reset_index()
data_ind = data_ind[['instalacao', 'valor_kwh', 'data_medicao']]
data_ind

        instalacao  valor_kwh        data_medicao
0       0000000027     720.00 2018-01-01 00:00:00
1       0000000027     723.60 2018-01-01 00:30:00
2       0000000027     727.20 2018-01-01 01:00:00
3       0000000027     721.80 2018-01-01 01:30:00
4       0000000027     721.80 2018-01-01 02:00:00
...            ...        ...                 ...
270129  0000000795     195.30 2018-08-14 00:00:00
270130  0000000795     182.28 2018-08-14 00:30:00
270131  0000000795     181.02 2018-08-14 01:00:00
270132  0000000795     191.52 2018-08-14 01:30:00
270133  0000000795     196.56 2018-08-14 02:00:00

[270134 rows x 3 columns]

In [204]:
data_com = data_com.reset_index()
data_com = data_com[['instalacao', 'valor_kwh', 'data_medicao']]
data_com

        instalacao  valor_kwh        data_medicao
0       0000001261  36.800000 2018-01-01 00:00:00
1       0000001261  37.600000 2018-01-01 00:30:00
2       0000001261  36.800000 2018-01-01 01:00:00
3       0000001261  38.400000 2018-01-01 01:30:00
4       0000001261  38.400000 2018-01-01 02:00:00
...            ...        ...                 ...
341243  0000012017  29.703333 2019-12-19 22:00:00
341244  0000012017  25.830000 2019-12-19 22:30:00
341245  0000012017  22.493333 2019-12-19 23:00:00
341246  0000012017  21.210000 2019-12-19 23:30:00
341247  0000012017  23.520000 2019-12-20 00:00:00

[341248 rows x 3 columns]

In [205]:
data_ppm = data_ppm.reset_index()
data_ppm = data_ppm[['instalacao', 'valor_kwh', 'data_medicao']]
data_ppm

        instalacao  valor_kwh        data_medicao
0       0000002542   1.101333 2018-01-01 00:00:00
1       0000002542   1.101333 2018-01-01 00:30:00
2       0000002542   1.096667 2018-01-01 01:00:00
3       0000002542   1.122333 2018-01-01 01:30:00
4       0000002542   1.127000 2018-01-01 02:00:00
...            ...        ...                 ...
343562  0000109142  10.873333 2019-12-19 22:00:00
343563  0000109142  10.663333 2019-12-19 22:30:00
343564  0000109142  10.360000 2019-12-19 23:00:00
343565  0000109142  10.173333 2019-12-19 23:30:00
343566  0000109142  10.290000 2019-12-20 00:00:00

[343567 rows x 3 columns]

In [206]:
data_sp = data_sp.reset_index()
data_sp = data_sp[['instalacao', 'valor_kwh', 'data_medicao']]
data_sp

        instalacao  valor_kwh        data_medicao
0       0000000591     55.200 2018-01-01 00:00:00
1       0000000591     55.000 2018-01-01 00:30:00
2       0000000591     55.600 2018-01-01 01:00:00
3       0000000591     56.400 2018-01-01 01:30:00
4       0000000591     56.800 2018-01-01 02:00:00
...            ...        ...                 ...
344644  0000035840      4.880 2019-12-19 22:00:00
344645  0000035840      4.884 2019-12-19 22:30:00
344646  0000035840      4.884 2019-12-19 23:00:00
344647  0000035840      4.886 2019-12-19 23:30:00
344648  0000035840      4.896 2019-12-20 00:00:00

[344649 rows x 3 columns]

### Extraindo informações importantes

In [207]:
nomes_res = [data_res, data_ind, data_com, data_ppm, data_sp]

In [208]:
%%time

for i in nomes_res:
    extract_date(i, 'data_medicao')
    get_holidays(i, 'data_medicao')
    daylight_savings(i, 'data_medicao')

Wall time: 24.1 s

## Importando os Datasets

In [209]:
data_res.to_csv(r'C:/Users/vitmi/Desktop/TCC/Data/load_data/Data_res_mean.csv', sep=';', index = False)

In [210]:
data_ind.to_csv(r'C:/Users/vitmi/Desktop/TCC/Data/load_data/data_ind_mean.csv', sep=';', index = False)

In [211]:
#data_com.to_csv(r'C:/Users/vitmi/Desktop/TCC/Data/load_data/data_com_mean.csv', sep=';', index = False)

In [212]:
data_ppm.to_csv(r'C:/Users/vitmi/Desktop/TCC/Data/load_data/Data_ppm_mean.csv', sep=';', index = False)

In [213]:
data_sp.to_csv(r'C:/Users/vitmi/Desktop/TCC/Data/load_data/Data_sp_mean.csv', sep=';', index = False)